/* темно-оливковый */
body {
  background: #3f5025;
}
a, a:hover, a:visited {
  color: #3f5025;
}
input, textarea{
  border: 1px solid #3f5025;
}
h1 {
  color: #3f5025;
}
#header {
  border-bottom: 2px solid #3f5025;
}
#header h2 {
  color: #3f5025;
}
#wrapper {
  background: #fff;
  border: #3f5025;
}
#content h2 {
  color: #fff;
  background: #3f5025;
}
.micropost {
  border-top: 2px solid #3f5025;
  border-bottom: 2px solid #3f5025;
}
.pdate a, .pdate a:visited {
  color:#000;
}
.pdate a:hover {
  color:#000;
}
.paging strong {
  color:#000;
}
.paging a:hover, .paging a:hover strong  {
  background:#3f5025;
  color:#fff;
}
#navi { 
  border-top: 2px solid #3f5025;
  border-bottom: 2px solid #3f5025;
}
.author {  
  background:#93B75C;
}
#cmtform label {
  color: #777;
}
#side h2 {
  color:#fff;
  background: #3f5025;
}
#footer {
  border-top: 2px solid #3f5025;
}
